In [0]:
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

In [0]:
df = pd.read_csv (r'/content/drive/My Drive/Data/Fraud_Detection/creditcard.csv')

In [4]:
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

### Counting the occurences of fraud and no fraud

In [7]:
print ('Number of non-fraud cases {} \n Number of fraud cases {}'.format(df.Class.value_counts()[0], df.Class.value_counts()[1])  )
df.Class.value_counts()[0]

Number of non-fraud cases 284315
 Number of fraud cases 492

284315

### Splitting the data

In [0]:
from sklearn.model_selection import train_test_split
data_features = df.iloc[:, :-1]
data_target = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split (data_features, data_target, test_size = 0.2, random_state = 43)

### Since the target column is imbalanced data resampling is applied

In [0]:
from imblearn.over_sampling import SMOTE
method = SMOTE(kind = 'borderline2')
X_resampled, y_resampled = method.fit_sample (X_train, y_train)

In [38]:
pd.value_counts(pd.Series (y_resampled))
#y_resampled.value_counts()

1    227459
0    227459
dtype: int64

### Applying model initial testing

In [39]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit (X_resampled, y_resampled)

# Predicting the data
predicted = model.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

###Get perfromance metrics

In [41]:
from sklearn.metrics import classification_report, confusion_matrix
print (classification_report(y_test, predicted) )
print (confusion_matrix (y_test, predicted) )

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     56856
           1       0.23      0.82      0.36       106

    accuracy                           0.99     56962
   macro avg       0.62      0.91      0.68     56962
weighted avg       1.00      0.99      1.00     56962

[[56570   286]
 [   19    87]]

# The number of False Positives needs to be reduced...